.post-form {
  display: none;
  padding-top: 5px;
  padding-bottom: 5px;
}

.post-form p {
  display: block;
}

.post-content {
  display: -ms-grid;
  display: grid;
  grid-gap: 15px;
  margin-left: 0;
  margin-right: 0;
  -ms-grid-columns: 20px 180px 50px;
      grid-template-columns: 20px 180px 50px;
      grid-template-areas: "sidebar header rightbar" "....... ....... ....... " "......  content  .......";
  width: 90%;
}

.image-upload > input {
  display: none;
}

.post-header {
  width: 90%;
}

#post {
  word-break: break-word;
  margin-top: 10px;
  border-radius: 4px;
  border: none;
  font-size: 1.5em;
  background-color: #22303c;
  width: 90%;
}

input:focus {
  outline: none;
}

.rightbar {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: rightbar;
}

.submit-post-btn {
  width: 100%;
  margin-top: 5px;
  background-color: #15202b;
  color: white;
  padding: 5px;
  font-size: 15px;
  margin: 0;
  border-radius: 10px;
  display: block;
}

.submit-post-btn:hover {
  color: #1DA1F2;
  cursor: pointer;
}

.fa-upload {
  color: #8899a6;
  font-size: 1.5em;
  background-color: #15202b;
}

.fa-upload:hover {
  color: white;
  cursor: pointer;
}

.fa-edit {
  color: #fff;
  font-size: 20px;
  background-color: #15202b;
}

.fa-edit:hover {
  cursor: pointer;
  color: #1DA1F2;
}

.fa-arrow-circle-up {
  font-size: 20px;
  background-color: #1DA1F2;
  color: #fff;
}

.fa-pen {
  color: #ffffff;
  font-size: 30px;
}

#picture-preview {
  overflow: hidden;
}

.close-btn {
  color: red;
  background-color: #15202b;
  border-width: 0;
  padding: 5px;
  font-size: 15px;
  border-radius: 4px;
  text-align: center;
}

.close-btn:hover {
  color: white;
  cursor: pointer;
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
