.post-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40px 75px 250px;
      grid-template-columns: 40px 75px 250px;
      grid-template-areas: "sidebar header ......." "....... text text " "....... content content" ".......  footer  .......";
  background-color: #15202b;
  width: 90%;
  border-top: #8899a6 2px solid;
  margin-right: 0;
  padding-right: 1em;
  padding-left: 1em;
}

#post-text {
  word-wrap: break-word !important;
  color: #eee;
  margin: 0;
  width: 90%;
  overflow: hidden;
  margin-right: 0;
  margin-left: 0;
  margin-right: 0;
  margin-left: 0;
  width: 100%;
}

#picture {
  width: 90%;
  margin-top: 1em;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 1em;
  border-radius: 10px;
}

.sidebar {
  margin-top: 1em;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: sidebar;
  border-radius: 50%;
  max-width: 30px;
  width: 100%;
  border-width: 2px;
  border-style: solid;
}

.text {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: text;
}

.content {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: content;
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: header;
}

.footer {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: footer;
}

#post-header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40px 75px 250px;
      grid-template-columns: 40px 75px 250px;
  margin: 0;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: left;
  background-color: #15202b;
  width: 100%;
}

#name {
  color: white;
  font-size: 15px;
  font-family: Helvetica, sans-serif;
  font-weight: 800;
}

#handle {
  color: #8899a6;
  font-size: 15px;
}

#created-at {
  color: #8899a6;
  font-size: 15px;
}

#post-footer {
  margin: 0;
  background-color: #15202b;
  padding-bottom: 2em;
}

i {
  font-family: 'FontAwesome' !important;
  margin: 0;
  background-color: #15202b;
  color: red;
  padding: 5px;
  font-size: 2px;
  width: 100%;
}

#like-btn {
  padding: 0;
  background-color: red;
  border-radius: 60px;
  width: 100%;
}

#scroll-to-top {
  display: none;
  position: fixed;
  bottom: 15px;
  left: 825px;
  z-index: 99;
  font-size: 18px;
  border: none;
  border-radius: 50px;
  outline: none;
  background-color: #1DA1F2;
  color: white;
  cursor: pointer;
  padding: 15px;
}

#scroll-to-top:hover {
  background-color: #fff;
  cursor: pointer;
}

.fa-heart {
  color: red;
  background-color: 15202b !important;
}

input::-webkit-input-placeholder {
  color: #8899a6;
}

input:-ms-input-placeholder {
  color: #8899a6;
}

input::-ms-input-placeholder {
  color: #8899a6;
}

input::placeholder {
  color: #8899a6;
}
