.post-form {
  display: none;
  padding-top: 5px;
  padding-bottom: 5px;

  p {
    display: block;
  }
}

.post-content {
  display: grid;
  grid-gap: 15px;
  margin: 0;
  grid-template-columns: 62px 250px 60px;
  grid-template-areas:
    "sidebar header rightbar"
    "....... header ....... "
    ".......  content  content"
}

.image-upload>input {
  display: none;
}

#post {
  word-break: break-word;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 10px;
  border: none;
  font-size: 1.5em;
  background-color: #22303c;

}

input:focus {
  outline: none;
}

.rightbar {
  grid-area: rightbar
}

.submit-post-btn {
  width: 100%;
  margin-top: 5px;
  background-color: #15202b;
  padding: 5px;
  font-size: 15px;
  margin: 0;
  border-radius: 10px;
  display: block;
}

// .alert {
//   margin-bottom: 1rem;
//   height: 1.25rem;
//   display: grid;
//   align-items: center;
//   text-align: center;
//   font-size: 0.7rem;
//   border-radius: 0.25rem;
//   letter-spacing: var(--spacing);
//   text-transform: capitalize;
// }

.fa-upload {
  color: #8899a6;
  font-size: 2em;
  background-color: #15202b;

  &:hover {
    color: white;
    cursor: pointer;
  }
}

.fa-edit {
  color: #1DA1F2;
  font-size: 20px;
  background-color: #15202b;



}

.fa-arrow-circle-up {
  font-size: 20px;
  // width: 10%;
  background-color: #1DA1F2;
  color: #fff;
}



.fa-pen {
  color: #ffffff;
  font-size: 30px;
}



#frame {
  margin: 0;
}

#picture-preview {
  overflow: hidden;
  // border-radius: 10px;
}

.close-btn {
  display: flex;
  flex-direction: row;
  float: right;
  color: red;
  border-color: red;
  border-style: solid;
  border-width: 5px;
  background-color: #15202b;
  border-width: 0;
  padding: 5px;
  font-size: 15px;

  border-radius: 4px;
  text-align: center;
}

.close-btn:hover {
  color: white;
  cursor: pointer;
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}