.post-form {
  display: none;
  padding-top: 5px;
  padding-bottom:10px;
  p {
    display: block;
  }
}

.post-content {
  display: grid;
  grid-gap: 10px;
  margin: 0;

  grid-template-columns: 62px 250px 60px;
  grid-template-areas:
  "sidebar header rightbar"
  "....... header ....... "
  ".......  content  content"
  
  
  
  
}

.image-upload>input {
  display: none; 
}

#post {
  word-break: break-word;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 10px;
  border: none;
  font-size: 1.5em;
  background-color: #3d3d3d;
  color: white;
}

.rightbar {
  grid-area: rightbar
}

.submit-post-btn {
  width: 100%;
  margin-top: 5px;
  color: #3700b7;
  background-color: #121212;
  
  
  padding: 5px;
  font-size: 15px;
  margin: 0;
  border-radius: 10px;
  display: block;

  
}


// .alert {
//   margin-bottom: 1rem;
//   height: 1.25rem;
//   display: grid;
//   align-items: center;
//   text-align: center;
//   font-size: 0.7rem;
//   border-radius: 0.25rem;
//   letter-spacing: var(--spacing);
//   text-transform: capitalize;
// }

.fa-upload {
  color: #bb86fc;
  font-size: 30px;
}



#frame {
  margin: 0;
}

#picture-preview {
  overflow: hidden;
  border-radius: 4px;
}


.close-btn {
  display: flex;
  flex-direction: row;
  float: right;
  color: red;
  border-color: red;
  border-style: solid;
  border-width: 5px;
  background-color: #121212;
  border-width: 0;
  padding: 5px;
  font-size: 15px;
  
  border-radius: 4px;
  text-align: center;
}
.close-btn:hover {
  color: darkgray;
}
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}
@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

