.post-form {
  display: none;
  p {
    display: block;
  }
}

.post-content {
  display: grid;
  grid-gap: 10px;
  margin: 0;
  padding-top: 5px;
  grid-template-columns: 62px 250px 60px;
  grid-template-areas:
  "sidebar header rightbar"
  "....... header ....... "
  ".......  content  content"
  
  
  
  
}

.image-upload>input {
  display: none; 
}

#post {
  word-break: break-word;
  margin: 0;
  border: none;
  font-size: 1.5em;
  background-color: #eeeeee;
}

.rightbar {
  grid-area: rightbar
}

.submit-post-btn {
  width: 100%;
  margin-top: 5px;
  color: white;
  background-color: #1DA1F2;
  border-color: #1DA1F2;
  border-width: 0;
  padding: 5px;
  font-size: 15px;
  margin: 0;
  border-radius: 4px;
  display: block;

  
}


.alert {
  margin-bottom: 1rem;
  height: 1.25rem;
  display: grid;
  align-items: center;
  text-align: center;
  font-size: 0.7rem;
  border-radius: 0.25rem;
  letter-spacing: var(--spacing);
  text-transform: capitalize;
}

.fa-upload {
  color: black;
  font-size: 30px;
}



#frame {
  margin: 0;
}

#picture-preview {
  overflow: hidden;
  border-radius: 4px;
}

// #modal-button {
//   background-color: #eeeeee;
//   border-radius: 10px;
//   box-shadow: none !important;
//   width: 100%;
  
// }

.close-btn {
  display: flex;
  flex-direction: row;
  float: right;
  color: rgb(65, 62, 62);
  border-width: 0;
  padding: 5px;
  font-size: 15px;
  margin: 0;
  border-radius: 4px;
  text-align: center;
}
.close-btn:hover {
  color: darkgray;
}
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}
@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

