@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

* {
  max-width: 414px;
  margin: auto;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: black;
}

.container {
  display: grid;
  background-color: black;
  margin: 0;
  box-shadow: none !important;
  
}

.icon {
  height: 20px;
  width: 29;
}



