@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

* {
  max-width: 414px;
  margin: auto;
}

body {
  font-family: Helvetica, sans-serif;
  background-color: #4d4d4d;
}

.container {
  display: grid;
  background-color: #eeeeee;
  margin: 0;
  border-radius: 10px;
  box-shadow: none !important;
  width: 100%;
  
}



