@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

* {
  max-width: 414px;
  margin: auto;
}

body {
  font-family: Helvetica, sans-serif;
  background-color: black;
}

.container {
  display: grid;
  background-color: #121212;
  margin: 0;
  border-radius: 10px;
  
  box-shadow: none !important;
  width: 100%;
  
}



#modal-btn {
  color: white;
  background-color: black;
  color: #BB86fc;
  border-style: solid;
  border-color: #BB86fc;
  border-width: 1px;
  padding-top: .5em;
  padding-bottom: .5em;
  font-size: 16px;
  text-align: center;
  right: 20px;
  width: 100%;
}