// Variables
// Text
$name-color: #FFF;
$name-size: 15px;
$post-font: 'arial, sans-serif';


.post-container {
  display: grid;
  grid-template-columns: 40px 75px 250px;
  grid-template-areas:
  "sidebar header header"
  "....... text text "
  "....... content content"
  ".......  footer  .......";
  background-color: #eeeeee;
  border: #DEDEDE 1px solid;
  margin-right: 0;
  margin-left: 0;
  padding-right: 1em;
  padding-left: 1em;
  border-radius: 10px;
  
}

  #post-text {
    word-wrap: break-word !important;
    color:  black;
    margin: 0;
    width: 90%;
    overflow: hidden;
    margin-top: 1em;
    margin-right: 0;
    margin-left: 0;
    margin-top: 1em;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 1em;
    width: 100%;
  }

  #picture {
    width: 90%;
    margin-top: 1em;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 1em;
    border-radius: 10px;
    width: 100%;
  }
  
  .sidebar {
    margin-top: 1em;
    grid-area: sidebar;
    border-radius: 50%;
    max-width: 40px;
    width: 100%;
  }

  .text {
    grid-area: text;
  }

  .content {
    grid-area: content;
    
  }
/* Header */

  .header {
    grid-area: header;
  }

  .footer {
    grid-area: footer;
  }


#post-header {
  display: grid;
  grid-template-columns: 40px 75px 250px;
  margin: 0;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: left;
  background-color: #eeeeee;
  width: 100%;
}

// Header Elements

  #name {
    color: black;
    font-size: 15px;
    font-family:  Helvetica, sans-serif;
  }

  #handle {
    color: rgb(110, 118, 125);
    font-size: 15px;
  }

  #created-at {
    color: rgb(110, 118, 125);
    font-size: 15px;
  }

#post-footer {
  margin: 0;
  background-color: #eeeeee;
  padding-bottom: 1em;
}

//icons
i {
  font-family:'FontAwesome' !important;
  margin: 0;
  background-color: #eeeeee; 
  color: red;
  padding: 5px;
  font-size: 2px;
  width: 100%;
  
  
  
}

#like-btn {
  padding: 0;
  margin: 0;
  background-color: red;
  border-radius: 60px;
  width: 100%;

}

//scroll back to top button
#scroll-to-top {
  display: none;
  position: fixed;
  bottom: 15px;
  left: 825px;
  z-index: 99;
  font-size: 18px;
  border: none;
  border-radius: 50px;
  outline: none;
  background-color:  blue;
  color: white;
  cursor: pointer;
  padding: 15px;
  
}

#scroll-to-top:hover {
  background-color: #555;
}

